* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.nav{
    background-color: #fff;
    transition: background-color .3s ease;
}

.nav-trans{
    background-color: transparent;
}

.nav-trans .nav-wrapper{
    padding: 0 30px;
}

.nav-trans .nav-wrapper .brand-logo i{
    margin-top: 2px;
}

.nav-trans .nav-wrapper ul li .link{
    font-size: 18px;
    transition: all .3s ease;
}

.nav-trans .nav-wrapper ul li .link:hover{
    background-color: #fff;
    color: var(--theme-color);
}

.nav .no-wrapper{
    padding: 0 30px;
}

.nav .no-wrapper .brand-logo i{
    margin-top: 7px;
}

.nav .nav-wrapper .link{
    color: #fff;
}

.nav .no-wrapper ul li .link{
    font-size: 18px;
    transition: all .3s ease;
}

.nav .no-wrapper ul li .link:hover{
    background-color: var(--theme-color);
    color: #fff;
}

.nav .no-wrapper ul li .activeLink{
    border-bottom: 2px solid var(--theme-color);
}

.nav .no-wrapper .link{
    color: var(--theme-color);
}

.sidenav li .link{
    transition: all .3s ease;
}

.sidenav li .link:hover{
    background-color: var(--theme-color);
    color: #fff;
}

.sidenav .side-brand{
    display: none;
}

@media only screen and (max-width: 500px){
    .nav-trans .nav-wrapper .brand-logo strong{
        opacity: 0;
    }

    .nav-trans .nav-wrapper .brand-logo i{
        margin-left: 100px;
        font-size: 40px;
    }

    .nav .no-wrapper .brand-logo strong{
        opacity: 0;
    }

    .nav .no-wrapper .brand-logo i{
        margin-left: 100px;
        font-size: 40px;
    }

    .sidenav .side-brand{
        display: block;
        margin: 20px;
        font-size: 30px;
        color: var(--theme-color);
    }
}

