.services{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    margin: 80px;

}

.services .service-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 100px;
}

.services .service-card i{
    font-size: 3rem;
    color: var(--theme-color);
    border: 1px solid var(--theme-color);
    border-radius: 50%;
    padding: 20px 35px;
    transition: all .3s ease-in;
}

.services .service-card:hover i{
    color: #fff;
    background-color: var(--theme-color);
}

.services .service-card h1{
    text-align: center;
    font-size: 25px;
    color: var(--theme-color);
    font-weight: 600;
}

@media only screen and (max-width: 500px){
    .services{
        margin: 80px 10px;
    }
}